.App {
    padding: 20px 50px;
}

.controls {
    display: flex;
    gap: 50px;
}

input {
    display: block;
    padding: 6px;
    font-size: 16px;
    border: 1px solid gray;
}

label {
    font-weight: bold;
}


label input {
    font-weight: normal;
    margin-top: 5px;
}

.fields-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-editor-wrapper {
    flex-grow: 1;
}

.section-title {
    font-weight: bold;
    margin-bottom: 5px;
}
